        body{
            margin-right: 200px;
            margin-left: 200px;
            background-color: #F2F2F2;
            word-wrap: break-word;
            font-family: 'Open Sans',sans-serif;
            line-height: 1.7;
            font-size: 14px;
        }

        #head{
             text-align:center;
             font-size: 40px;
             padding: 35px 40px;
             mix-blend-mode: color-burn;
             background-color:#38B93E;
             border: 1px solid #dadada;
             margin-right: -15px;
             margin-left: -15px;

        }

        .body{
         font-size: 30px;
             margin-bottom: 100px;
             padding: 45px 50px;
             background-color: #fff;
             border: 1px solid #dadada;
             margin-right: -15px;
             margin-left: -15px;

        }
        .color{
            color: #38B93E;
        }